{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Calendar Compare</h1>
</div>

<p class="lead">Calendar compare started with a simple idea at HawkHacks 2024: what if we could make it easier to find a time when all of our friends are free?  And thus, we came to this idea!</p>
<p class="lead">Once you sign in with Google and join a group, Calendar Compare will scan all of your events, compare them to the events of your friends, and see when you're all available!</p>
<p class="lead">We hope you enjoy using Calendar Compare as much as we enjoyed making it!</p>

{% endblock %}
