{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Calendar Compare</h1>
  <img src="https://i.imgur.com/dCLJJ1w.png">
</div>
<p class="lead">Calendar Compare Calendar Compare is a website that allows YOU to easily find when you and other poeple are free at the same time!  Just sign in with google, join a group, and we'll do the rest!</p>
<p class="lead">Just sign in with Google and give it a try!</p>

<p class="lead">{{ output }}</p>
<img src="screenshots/login.jpg">

{% endblock %}
